#header_uslugi{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    color: #F4E5D7;
    padding-top: 92px;
}
#oferty{
    font-family: "Taviraj", serif; 
    font-size: 46px;
    color: #F3F3F3;
    padding-top: 30px;
    padding-bottom: 100px;
}
.icons_ofert{
    display: block;
    margin: auto;
    padding: 0 0 25px 0;
}
#background_uslugi{
    content: "";
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
li{
    list-style: none;
}
.icons_text{
    color: #F3F3F3;
    font-size: 18px;
    font-family: "Taviraj", serif;
}
.offer-section{
    max-width: 100%;
    background-color: #353535;
    background-image: url(Group1.png), url(Group.png);
    background-position: left 250px, right 250px;
    background-repeat: no-repeat;
    min-height: 100vh;
}
@media (min-width: 0px) {
    .offer-section{    
        background-size: 200px;           
    }
}
@media (min-width: 576px) {
    .offer-section{    
        background-size: 260px;           
    }
}
@media (min-width: 768px) {
    .offer-section{
        background-size: 320px;                
    }
}

@media (min-width: 992px) {
    .offer-section{
        background-size: 350px;
    }
}
@media (min-width: 1200px) {
    .offer-section{
        background-size: 400px;
    }
}